####################################################################
# WhiteSource Unified-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################

checkPolicies=true

#Jam version
#forceCheckAllDependencies=true

#FSM version
resolveAllDependencies=false

fileSystemScan=false
ignoreSourceFiles=false
resolveAllDependencies=true
python.resolveGlobalPackages=true
wss.url=https://sap.whitesourcesoftware.com/agent

failErrorLevel=ALL
# running locally - not update inventory
updateInventory=false

######################
# Archive properties #
######################
archiveExtractionDepth=5
archiveIncludes=**/*.war **/*.ear **/*.zip **/*.tar.gz **/*.tgz **/*.gzip
archiveExcludes=**/*sources.jar

##############################################################
# Includes/Excludes Glob patterns - Please use only one      #
# line and one include line                                  #
##############################################################

#Jam version
#includes=**/*.gem **/*.nupkg **/*.dll **/*.jar **/*.rpm **/*.tar.bz2.h **/*.py **/*.php **/*.pl **/*.pm **/*.apk **/*.deb **/*.ts* **/*.js* **/*.java
#excludes=**/*sources.jar **/*javadoc.jar **/*.zip **/*.tar.gz **/*.tgz **/*.gzip

#FSM version
includes=**/*.*
excludes=**/frontend/**


case.sensitive.glob=false
followSymbolicLinks=true
log.files.level=debug

##################################
# Docker image scan settings:
##################################


docker.projectNameFormat=repositoryName

#FSM version
#docker.layers=true

docker.scanImages=true
docker.excludeBaseImage=true
docker.includes=fsm-docker.common.repositories.cloud.sap/extension-management-frontend.latest
docker.dockerfilePath=

##################################
# Organization tokens:
##################################
apiKey=

projectName=
projectVersion=
projectToken=

productName=
productVersion=latest
productToken=
